<h1>Editing es_cell</h1>

<% form_for(@es_cell) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @es_cell %> |
<%= link_to 'Back', es_cells_path %>