<h1>Listing es_cells</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @es_cells.each do |es_cell| %>
  <tr>
    <td><%=h es_cell.name %></td>
    <td><%= link_to 'Show', es_cell %></td>
    <td><%= link_to 'Edit', edit_es_cell_path(es_cell) %></td>
    <td><%= link_to 'Destroy', es_cell, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New es_cell', new_es_cell_path %>