<div class="span-12">
  <h3>Welcome</h3>
  <p>
    Welcome to the I-DCC Targeting Repository. This repository was put together 
    to collect information on targeting vectors (DNA constructs) and alleles 
    (mutations in ES cells) as they are produced by the pipelines making up the 
    <a href="http://www.knockoutmouse.org">International Knockout Mouse Consortium 
    (IKMC)</a>.
  </p>
</div>
<div class="span-12 last">
  <h3>About This Site</h3>
  <p>
    
  </p>
</div>

<hr />

<div class="span-24">
  <h3>Using This Site</h3>
</div>

<div class="span-12">
  <h4>How to Get Your Data in Here</h4>
  <p>
    To load your data into the repository, you will first need an account.  Please 
    email <a href="mailto:htgt@sanger.ac.uk">htgt@sanger.ac.uk</a> with some basic 
    information on your project and mutations and we'll happily set up an account 
    for you.
  </p>
  <p>
    Once you have an account, there are two approaches that can be used to insert 
    data into the repository:
    <ul>
      <li>
        Manual data entry via the website - ideal for small numbers of alleles 
        and products.
      </li>
      <li>
        Automated data entry using our
        <a href="http://wiki.github.com/dazoakley/targ_rep/rest-web-services">RESTful</a> 
        web services - suitable for bulk data loading and editing.
      </li>
    </ul>
  </p>
  <h5>Manual Data Entry (via the Web Site)</h5>
  <p>
    To enter small numbers of alleles and products manually, simply 
    <%= link_to "log-in", login_path %> then head to the 
    <%= link_to "alleles", alleles_path %> page and follow the on-screen 
    instructions for entering data.
  </p>
  <h5>Automated Data Entry (via the Web Services)</h5>
  <p>
    For entering bulk data insertion and maintenance we recommend using web 
    services.  For more details on this please look at the 
    <a href="http://wiki.github.com/dazoakley/targ_rep/i-dcc-web-services">
    tutorial page</a> on our wiki.
  </p>
</div>

<div class="span-12 last">
  <h4>Our Terminology</h4>
  <dl>
    <di>
      <dt>Allele</dt>
      <dd>
        The term 'allele' typically infers a mutated ES cell clone.  In this 
        repository however an allele represents a 'unique' mutant construct that 
        has been made into a targeting vector or ES cell.
      </dd>
    </di>
    <di>
      <dt>Product</dt>
      <dd>
        A 'product' is simply a unique ES cell clone name that belongs to a 
        definition of an allele.
      </dd>
    </di>
  </dl>
  <h4>What Will Happen Once Your Data Is in Here</h4>
  <p>
    Once your data is loaded into this repository, after approximately 24 hours 
    the data you have entered will automatically be transferred into the 
    <a href="http://www.knockoutmouse.org/mart">IKMC Biomart</a>.  From here:
    
    <ul>
      <li>
        it will be linked with and displayed alongside all other data that is 
        part of the <a href="http://www.knockoutmouse.org">IKMC consortium</a>.
      </li>
      <li>
        In addition to this, your alleles will appear on the IKMC 
        <a href="http://en.wikipedia.org/wiki/Distributed_Annotation_System">DAS</a> 
        track within the <a href="http://www.ensembl.org">Ensembl genome browser</a>. 
        Thus advertising the existence of your alleles to a wide audience.
      </li>
    </ul>
  </p>
</div>

<div class="clear"></div>
<hr />

<div class="span-12">
  <h3>Summary Statistics</h3>
  <p>
    This repository currently tracks information on <%= @allele_count %> alleles 
    that have been made into <%= @product_count %> mutant ES cells, from 
    <%= @pipelines.size %> different production pipelines.
  </p>
</div>

<div class="span-12 last">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Alleles</th>
        <th class="last">Products</th>
      </tr>
    </thead>
    <tbody>
      <%
        project_labels_for_chart = []
        allele_counts_for_chart  = []
        product_counts_for_chart = []
      %>
      <% @counts.each do |pipeline,counts| %>
        <%
          project_labels_for_chart.push(pipeline)
          allele_counts_for_chart.push(counts[:alleles])
          product_counts_for_chart.push(counts[:products])
        %>
        <tr class="<%= cycle("even", "odd") %>">
          <td><strong><%= pipeline %></strong></td>
          <td><%= counts[:alleles] %></td>
          <td><%= counts[:products] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="span-12" style="text-align:center;">
  <h4>Alleles Per Project</h4>
  <%= Gchart.pie :size   => '400x175',
                 :alt    => 'Alleles per Project',
                 :data   => allele_counts_for_chart,
                 :labels => project_labels_for_chart,
                 :format => 'image_tag' %>
</div>
<div class="span-12 last" style="text-align:center;">
  <h4>Products Per Project</h4>
  <%= Gchart.pie :size   => '400x175',
                 :alt    => 'Products per Project',
                 :data   => product_counts_for_chart,
                 :labels => project_labels_for_chart,
                 :format => 'image_tag' %>
</div>
