<h1>Listing pipelines</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @pipelines.each do |pipeline| %>
  <tr>
    <td><%=h pipeline.name %></td>
    <td><%= link_to 'Show', pipeline %></td>
    <td><%= link_to 'Edit', edit_pipeline_path(pipeline) %></td>
    <td><%= link_to 'Destroy', pipeline, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pipeline', new_pipeline_path %>