<table class="es_cell_qc_info">
  <caption>QC Metrics</caption>
  <tr>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "Southern Blot", :symbol => :qc_southern_blot } %>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "Map Test", :symbol => :qc_map_test } %>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "Karyotype", :symbol => :qc_karyotype } %>
  </tr>
  <tr>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "TV Backbone Assay", :symbol => :qc_tv_backbone_assay } %>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "5' LR-PCR", :symbol => :qc_five_prime_lr_pcr } %>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "Loss of Wild-Type Allele (LOA)", :symbol => :qc_loss_of_wt_allele } %>
  </tr>
  <tr>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "Neo Count (qPCR)", :symbol => :qc_neo_count_qpcr } %>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "lacZ SR-PCR", :symbol => :qc_lacz_sr_pcr } %>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "5' Cassette Integrity", :symbol => :qc_five_prime_cassette_integrity } %>
  </tr>
  <tr>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "Neo SR-PCR", :symbol => :qc_neo_sr_pcr } %>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "Mutant Specific SR-PCR", :symbol => :qc_mutant_specific_sr_pcr } %>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "loxP Confirmation", :symbol => :qc_loxp_confirmation } %>
  </tr>
  <tr>
    <%= render :partial => 'molecular_structures/es_cell_qc_form_option', :locals => { :f => f, :name => "3' LR-PCR", :symbol => :qc_three_prime_lr_pcr } %>
    <td colspan="4"></td>
  </tr>
  <tr>
    <th colspan="6" style="text-align:left;">Comments on QC</th>
  </tr>
  <tr>
    <td colspan="6">
      <%=
        f.text_area(
          :qc_comment,
          :rows => 5, 
          :style => "height:auto;width:90%"
        )
      %>
    </td>
  </tr>
</table>