<%
  pipeline_array = Pipeline.all.map { |pipeline| [pipeline.name, pipeline.id.to_s] }
  pipeline_options = options_for_select( [['All','']] + pipeline_array, params[:pipeline_id] )
  
  design_type_array = 
  MolecularStructure.all(:select => 'DISTINCT design_type').map do |ms| 
    [ms.design_type, ms.design_type]
  end
  design_type_options = options_for_select( [['All','']] + design_type_array, params[:design_type] )
  
  cassette_array = 
  MolecularStructure.all(:select => 'DISTINCT cassette').map do |ms| 
    [ms.cassette, ms.cassette]
  end
  cassette_options = options_for_select( [['All','']] + cassette_array, params[:cassette] )
  
  backbone_array = 
  MolecularStructure.all(:select => 'DISTINCT backbone').map do |ms| 
    [ms.backbone, ms.backbone] unless ms.backbone.nil? or ms.backbone.empty?
  end
  backbone_options = options_for_select( [['All','']] + backbone_array, params[:backbone] )
%>

<% form_tag molecular_structures_path, :method => 'get', :id => 'search_form' do %>
  <table class="no-border">
    <tr>
      <td>
        <%= label_tag :pipeline %>:
        <%= select_tag :pipeline_id, pipeline_options %>
      </td>
      
      <td>
        <%= label_tag :mgi_accession_id, "MGI Acc. ID" %>:
        <%= text_field_tag :mgi_accession_id, params[:mgi_accession_id] %>
      </td>
      
      <td>
        <%= label_tag :project_design_id, "Project Design ID" %>:
        <%= text_field_tag :project_design_id, params[:project_design_id] %>
      </td>
        
      <td>
        <%= label_tag :marker_symbol, "Marker Symbol" %>:
        <%= text_field_tag :marker_symbol, params[:marker_symbol] %>
      </td>
    </tr>
    
    <tr>
      <td>
        <%= label_tag :design_type, "Design Type" %>:
        <%= select_tag :design_type, design_type_options %>
      </td>
      
      <td>
        <%= label_tag :cassette %>:
        <%= select_tag :cassette, cassette_options %>
      </td>
      
      <td colspan="2">
        <%= label_tag :backbone %>:
        <%= select_tag :backbone, backbone_options %>
      </td>
    </tr>
    
    <tr>
      <td colspan="4">
        <%= submit_tag "Search", :name => nil %>
        <input type="reset" value="Reset" />
      </td>
    </tr>
  </table>
  
  <div class="cleaner"></div>
<% end %>