<% pipeline_list = Pipeline.find(:all, :order => "name").collect {|p| [ p.name, p.id ] } %>

<tr class="targeting_vector">
  <td><%= f.select :pipeline_id, pipeline_list %></td>
  <td><%= f.hidden_field :nested %></td>
  <td><%= f.text_field :ikmc_project_id %></td>
  <td><%= f.text_field :name %></td>
  <td><%= f.text_field :intermediate_vector %></td>
  <td><%= f.text_field :parental_cell_line %></td>
  <td><%= remove_targ_vec_link(f) %></td>
</tr>
