<tr class="targeting_vector">
  <td>
    <%= f.hidden_field :nested %>
    <%= f.text_field :ikmc_project_id %>
  </td>
  <td><%= f.text_field :name %></td>
  <td><%= f.text_field :intermediate_vector %></td>
  <td><%= remove_targ_vec_link(f) %></td>
</tr>
