<h2><%=h @molecular_structure.mgi_accession_id %></h2>

<% form_for @molecular_structure do |f| %>
  <%= render :partial => 'form', :locals =>
    { :f => f, :molecular_structure => @molecular_structure } %>
  <p>
    <button type="submit" class="button positive">
      <%= image_tag "led-icons/accept.png", :alt => "" %> Update
    </button> 
    <a href="<%= molecular_structure_path(@molecular_structure) %>" class="button negative">
      <%= image_tag "led-icons/cross.png", :alt => "" %> Back
    </a>
  </p>
<% end %>