<h2>Alleles</h2>

<div id="search_box">
  <h2>Search for alleles</h2>
  <%= render :partial => 'search_form' %>
</div>

<%= will_paginate @molecular_structures %>

<table class="list">
  <thead>
    <tr>
      <th>Pipeline</th>
      <th>MGI Accession ID</th>
      <th>Design Type</th>
      <th>Cassette</th>
      <th>Backbone</th>
      <th>Vectors</th>
      <th>ES Cells</th>
      <th>Targeted Trap</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% @molecular_structures.each do |mol_struct| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td>
          <% if mol_struct.pipeline %>
            <%= mol_struct.pipeline.name %>
          <% else %>
            -
          <% end %>
        </td>
        <td><%= mol_struct.mgi_accession_id %></td>
        <td><%= mol_struct.design_type %></td>
        <td><%= mol_struct.cassette %></td>
        <td><%= mol_struct.backbone %></td>
        <td>
          <% if mol_struct.targeting_vectors.size > 0 %>
            <span class="ss_sprite ss_tick">&nbsp;</span>
          <% else %>
            <span class="ss_sprite ss_cross">&nbsp;</span>
          <% end %>
        </td>
        <td>
          <% if mol_struct.es_cells.size > 0 %>
            <span class="ss_sprite ss_tick">&nbsp;</span>
          <% else %>
            <span class="ss_sprite ss_cross">&nbsp;</span>
          <% end %>
        </td>
        <td><%= mol_struct.targeted_trap? %></td>
        <td>
          <%= link_to 'view', mol_struct, :class => "ss_sprite ss_magnifier" %>
          <% if @current_user and ( ( @current_user == mol_struct.created_by ) or @current_user.is_admin ) %>
            <%= link_to 'edit', edit_molecular_structure_path(mol_struct), :class => "ss_sprite ss_pencil" %>
            <%= link_to 'delete', mol_struct, :confirm => 'Are you sure?', :method => :delete, :class => "ss_sprite ss_cross" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @molecular_structures %>

<% if @current_user %>
<a href="<%= url_for(new_molecular_structure_path) %>" class="button positive">
  <%= image_tag "led-icons/add.png", :alt => "" %> New Allele
</a>
<% end %>

<script type="text/javascript" charset="utf-8">
  Event.observe(window, 'load', function() { $('advanced-search').hide() })
</script>