<h2>
  <% if @molecular_structure.pipeline %><%=h @molecular_structure.pipeline.name %> |<% end %>
  <%=h @molecular_structure.mgi_accession_id %> |
  Project Design ID: <%=h @molecular_structure.project_design_id %>
</h2>

<div class="span-12">
  <fieldset>
    <legend>Genomic Position</legend>
    <p>
      <strong>Assembly:</strong>
      <%=h @molecular_structure.assembly %>
    </p>
    <p>
      <strong>Chromosome:</strong>
      <%=h @molecular_structure.chromosome %>
    </p>
    <p>
      <strong>Strand</strong>
      <%=h @molecular_structure.strand %>
    </p>
  </fieldset>
  
  <fieldset>
    <legend>Design Details</legend>
    <p>
      <strong>Design type:</strong>
      <%=h @molecular_structure.design_type %>
    </p>
    <p>
      <strong>Design subtype:</strong>
      <%=h @molecular_structure.design_subtype %><br />
      <em><%=h @molecular_structure.subtype_description %></em>
    </p>
    <p>
      <strong>Cassette:</strong>
      <%=h @molecular_structure.cassette %>
    </p>
    <p>
      <strong>Backbone:</strong>
      <%=h @molecular_structure.backbone %>
    </p>
    <% if @molecular_structure.floxed_start_exon == @molecular_structure.floxed_end_exon %>
    <p>
      <strong>Floxed Exon:</strong>
      <%=h @molecular_structure.floxed_start_exon %>
    </p>
    <% else %>
    <p>
      <strong>First Floxed Exon:</strong>
      <%=h @molecular_structure.floxed_start_exon %>
    </p>
    <p>
      <strong>Last Floxed Exon:</strong>
      <%=h @molecular_structure.floxed_end_exon %>
    </p>
    <% end %>
  </fieldset>
</div>

<div class="span-12 last">
  <fieldset>
    <legend>Molecular Structure</legend>
    <table class="list">
      <thead>
        <th>Feature</th>
        <th>Start</th>
        <th class="last">End</th>
      </thead>
      <tbody>
        <tr>
          <td>Homology Arm</td>
          <td><%=h @molecular_structure.homology_arm_start %></td>
          <td><%=h @molecular_structure.homology_arm_end %></td>
        </tr>
        <tr class="even">
          <td>Cassette</td>
          <td><%=h @molecular_structure.cassette_start %></td>
          <td><%=h @molecular_structure.cassette_end %></td>
        </tr>
        <tr>
          <td>LoxP</td>
          <td><%=h @molecular_structure.loxp_start %></td>
          <td><%=h @molecular_structure.loxp_end %></td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  
  <fieldset id="genbank_files">
    <legend>Genbank Files / Images</legend>
    <% genbank_file = @molecular_structure.genbank_file %>
    <p>
      <strong>Targeting Vector Genbank File: </strong>
      <% unless genbank_file.nil? or genbank_file.targeting_vector.nil? %>
        <a href="<%= targeting_vector_genbank_file_url(:id => @molecular_structure.id) %>" target="_blank" class="ss_sprite ss_magnifier">view</a>
        <a href="<%= vector_image_url(:id => @molecular_structure.id) %>" target="_blank" class="ss_sprite ss_image">vector image</a>
      <% else %>
        <em>not available</em>
      <% end %>
    </p>
    <p>
      <strong>ES Cell Clone / Allele Genbank File: </strong>
      <% unless genbank_file.nil? or genbank_file.escell_clone.nil? %>
        <a href="<%= escell_clone_genbank_file_url(:id => @molecular_structure.id) %>" target="_blank" class="ss_sprite ss_magnifier">view</a> | 
        <a href="<%= allele_image_url(:id => @molecular_structure.id) %>" target="_blank" class="ss_sprite ss_image">allele image</a>
      <% else %>
        <em>not available</em>
      <% end %>
    </p>
  </fieldset>
</div>

<div class="span-24 last">
  <fieldset>
    <legend>Targeting Vectors</legend>
    
    <% unless @molecular_structure.targeting_vectors.empty? %>
      <table class="list">
        <thead>
          <th>IKMC Project ID</th>
          <th>Targeting Vector</th>
          <th class="last">Intermediate Vector</th>
        </thead>
        <tbody>
          <% @molecular_structure.targeting_vectors.each do |targ_vec| %>
            <% if targ_vec.display == true %>
              <tr class="<%= cycle("odd", "even") %>">
                <td><%= targ_vec.ikmc_project_id %></td>
                <td><%= targ_vec.name %></td>
                <td><%= targ_vec.intermediate_vector %></td>
              </tr>
            <% end %>
          <% end -%>
        </tbody>
      </table>
    <% else %>
      <p>No targeting vectors</p>
    <% end -%>
  </fieldset>
</div>

<div class="span-24 last">
  <fieldset>
    <legend>ES Cells</legend>
    
    <% unless @es_cells.empty? %>
      <table class="list">
        <thead>
          <tr>
            <th>ES Cell</th>
            <th>Targeting Vector</th>
            <th>Allele Symbol Superscript</th>
            <th>Parental Cell Line</th>
            <th>IKMC Project ID</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @es_cells.each do |es_cell| %>
            <tr class="<%= cycle("odd", "even") %>">
              <td><%=h es_cell.name %></td>
              <td><% if es_cell.targeting_vector %><%=h es_cell.targeting_vector.name %><% end %></td>
              <td><%=h es_cell.allele_symbol_superscript %></td>
              <td><%=h es_cell.parental_cell_line %></td>
              <td><%=h es_cell.ikmc_project_id %></td>
              <td><a href="#" class="es_cell_qc_toggle ss_sprite ss_magnifier">show/hide QC metrics</a></td>
            </tr>
            <tr class="es_cell_qc" style="display:none;">
              <td colspan="6">
                <table class="es_cell_qc_info">
                  <caption>QC Metrics</caption>
                  <tr>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "Southern Blot", :symbol => :qc_southern_blot } %>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "Map Test", :symbol => :qc_map_test } %>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "Karyotype", :symbol => :qc_karyotype } %>
                  </tr>
                  <tr>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "TV Backbone Assay", :symbol => :qc_tv_backbone_assay } %>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "5' LR-PCR", :symbol => :qc_five_prime_lr_pcr } %>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "Loss of Wild-Type Allele (LOA)", :symbol => :qc_loss_of_wt_allele } %>
                  </tr>
                  <tr>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "Neo Count (qPCR)", :symbol => :qc_neo_count_qpcr } %>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "lacZ SR-PCR", :symbol => :qc_lacz_sr_pcr } %>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "5' Cassette Integrity", :symbol => :qc_five_prime_cassette_integrity } %>
                  </tr>
                  <tr>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "Neo SR-PCR", :symbol => :qc_neo_sr_pcr } %>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "Mutant Specific SR-PCR", :symbol => :qc_mutant_specific_sr_pcr } %>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "loxP Confirmation", :symbol => :qc_loxp_confirmation } %>
                  </tr>
                  <tr>
                    <%= render :partial => 'molecular_structures/show_es_cell_qc_option', :locals => { :es_cell => es_cell, :name => "3' LR-PCR", :symbol => :qc_three_prime_lr_pcr } %>
                    <td colspan="4"></td>
                  </tr>
                  <tr>
                    <th colspan="6" style="text-align:left;">Comments on QC</th>
                  </tr>
                  <tr>
                    <td colspan="6"><%=h print_dash_on_nil_or_empty( es_cell.qc_comment ) %></td>
                  </tr>
                </table>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No ES Cells</p>
    <% end -%>
  </fieldset>
</div>

<% if @current_user %>
<div class="span-24">
  <a href="<%= edit_molecular_structure_path(@molecular_structure) %>" class="button">
    <%= image_tag "famfamfam/pencil.png", :alt => "" %> Edit
  </a>
  <a href="<%= url_for(molecular_structures_path) %>" class="button negative">
    <%= image_tag "led-icons/cross.png", :alt => "" %> Back
  </a>
</div>
<% end %>
