<h2>
  <%=h @molecular_structure.mgi_accession_id %> |
  Project Design ID: <%=h @molecular_structure.project_design_id %>
</h2>

<div class="span-12">
  <fieldset>
    <legend>Genomic Position</legend>
    <p>
      <strong>Assembly:</strong>
      <%=h @molecular_structure.assembly %>
    </p>
    <p>
      <strong>Chromosome:</strong>
      <%=h @molecular_structure.chromosome %>
    </p>
    <p>
      <strong>Strand</strong>
      <%=h @molecular_structure.strand %>
    </p>
  </fieldset>
  
  <fieldset>
    <legend>Design Details</legend>
    <p>
      <strong>Design type:</strong>
      <%=h @molecular_structure.design_type %>
    </p>
    <p>
      <strong>Design subtype:</strong>
      <%=h @molecular_structure.design_subtype %><br />
      <em><%=h @molecular_structure.subtype_description %></em>
    </p>
    <p>
      <strong>Cassette:</strong>
      <%=h @molecular_structure.cassette %>
    </p>
    <p>
      <strong>Backbone:</strong>
      <%=h @molecular_structure.backbone %>
    </p>
    <% if @molecular_structure.floxed_start_exon == @molecular_structure.floxed_end_exon %>
    <p>
      <strong>Floxed Exon:</strong>
      <%=h @molecular_structure.floxed_start_exon %>
    </p>
    <% else %>
    <p>
      <strong>First Floxed Exon:</strong>
      <%=h @molecular_structure.floxed_start_exon %>
    </p>
    <p>
      <strong>Last Floxed Exon:</strong>
      <%=h @molecular_structure.floxed_end_exon %>
    </p>
    <% end %>
  </fieldset>
</div>

<div class="span-12 last">
  <fieldset>
    <legend>Molecular Structure</legend>
    <table>
      <thead>
        <th>Feature</th>
        <th>Start</th>
        <th class="last">End</th>
      </thead>
      <tbody>
        <tr>
          <td>Homology Arm</td>
          <td><%=h @molecular_structure.homology_arm_start %></td>
          <td><%=h @molecular_structure.homology_arm_end %></td>
        </tr>
        <tr class="even">
          <td>Cassette</td>
          <td><%=h @molecular_structure.cassette_start %></td>
          <td><%=h @molecular_structure.cassette_end %></td>
        </tr>
        <tr>
          <td>LoxP</td>
          <td><%=h @molecular_structure.loxp_start %></td>
          <td><%=h @molecular_structure.loxp_end %></td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  
  <fieldset id="genbank_files">
    <legend>Genbank Files</legend>
    <% genbank_file = @molecular_structure.genbank_file %>
    <p>
      <strong>Targeting Vector Genbank File:</strong>
      <% unless genbank_file.nil? or genbank_file.targeting_vector.nil? %>
        <a href="<%= targeting_vector_genbank_file_url(:id => @molecular_structure.id) %>" target="_blank" class="ss_sprite ss_magnifier">view</a>
      <% else %>
        None
      <% end %>
    </p>
    <p>
      <strong>ES Cell Clone Genbank File:</strong>
      <% unless genbank_file.nil? or genbank_file.es_cell.nil? %>
        <a href="<%= escell_clone_genbank_file_url(:id => @molecular_structure.id) %>" target="_blank" class="ss_sprite ss_magnifier">view</a>
      <% else %>
        None
      <% end %>
    </p>
  </fieldset>
</div>

<div class="span-24 last">
  <fieldset>
    <legend>Targeting Vectors</legend>
    
    <% unless @molecular_structure.targeting_vectors.empty? %>
      <table>
        <thead>
          <th>Pipeline</th>
          <th>IKMC Project ID</th>
          <th>Targeting Vector</th>
          <th class="last">Intermediate Vector</th>
        </thead>
        <tbody>
          <% @molecular_structure.targeting_vectors.each do |targ_vec| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= targ_vec.pipeline.name %></td>
            <td><%= targ_vec.ikmc_project_id %></td>
            <td><%= targ_vec.name %></td>
            <td><%= targ_vec.intermediate_vector %></td>
          </tr>
          <% end -%>
        </tbody>
      </table>
    <% else %>
      <p>No targeting vectors</p>
    <% end -%>
  </fieldset>
</div>

<div class="span-24 last">
  <fieldset>
    <legend>ES Cells</legend>
    
    <% unless @es_cells.empty? %>
      <table>
        <thead>
          <th>ES Cell</th>
          <th>Targeting Vector</th>
          <th>Allele Symbol Superscript</th>
          <th>Parental Cell Line</th>
          <th>5' LR Check</th>
          <th>3' LR Check</th>
          <th>5' SR Check</th>
          <th>3' SR Check</th>
        </thead>
        <tbody>
          <% @es_cells.each do |es_cell| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= es_cell.name %></td>
            <td><%= es_cell.targeting_vector.name %></td>
            <td><%= es_cell.allele_symbol_superscript %></td>
            <td><%= es_cell.parental_cell_line %></td>
            <td>
              <% if es_cell.upper_LR_check == 'Passed' %>
                <%= image_tag "famfamfam/accept.png", :alt => "Passed", :title => "Passed" %>
              <% elsif es_cell.upper_LR_check == 'Failed' %>
                <%= image_tag "famfamfam/exclamation.png", :alt => "Failed", :title => "Failed" %>
              <% else %>
                <%= image_tag "famfamfam/help.png", :alt => "Not checked", :title => "Not checked" %>
              <% end -%>
            </td>
            <td>
              <% if es_cell.lower_LR_check == 'Passed' %>
                <%= image_tag "famfamfam/accept.png", :alt => "Passed", :title => "Passed" %>
              <% elsif es_cell.lower_LR_check == 'Failed' %>
                <%= image_tag "famfamfam/exclamation.png", :alt => "Failed", :title => "Failed" %>
              <% else %>
                <%= image_tag "famfamfam/help.png", :alt => "Not checked", :title => "Not checked" %>
              <% end -%>
            </td>
            <td>
              <% if es_cell.upper_SR_check == 'Passed' %>
                <%= image_tag "famfamfam/accept.png", :alt => "Passed", :title => "Passed" %>
              <% elsif es_cell.upper_SR_check == 'Failed' %>
                <%= image_tag "famfamfam/exclamation.png", :alt => "Failed", :title => "Failed" %>
              <% else %>
                <%= image_tag "famfamfam/help.png", :alt => "Not checked", :title => "Not checked" %>
              <% end -%>
            </td>
            <td>
              <% if es_cell.lower_SR_check == 'Passed' %>
                <%= image_tag "famfamfam/accept.png", :alt => "Passed", :title => "Passed" %>
              <% elsif es_cell.lower_SR_check == 'Failed' %>
                <%= image_tag "famfamfam/exclamation.png", :alt => "Failed", :title => "Failed" %>
              <% else %>
                <%= image_tag "famfamfam/help.png", :alt => "Not checked", :title => "Not checked" %>
              <% end -%>
            </td>
          </tr>
          <% end -%>
        </tbody>
      </table>
    <% else %>
      <p>No ES Cells</p>
    <% end -%>
  </fieldset>
</div>

<div class="span-24">
  <a href="<%= edit_molecular_structure_path(@molecular_structure) %>" class="button">
    <%= image_tag "famfamfam/pencil.png", :alt => "" %> Edit
  </a>
  <a href="<%= url_for(molecular_structures_path) %>" class="button negative">
    <%= image_tag "led-icons/cross.png", :alt => "" %> Back
  </a>
</div>

<div class="clear"></div>

<% if @molecular_structure.methods.include? :revisions %>
  <h3>History</h3>
  <div class="span-24">
    <table>
      <thead>
        <th>Version</th>
        <th>Chromosome</th>
        <th>Strand</th>
        <th>Cassette</th>
        <th>Backbone</th>
        <th>Homology Arm</th>
        <th>Cassette</th>
        <th class="last">LoxP</th>
      </thead>
      <tbody>
        <% for revision in @molecular_structure.revisions %>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= revision.version %></td>
            <td><%= revision.chromosome %></td>
            <td><%= revision.strand %></td>
            <td><%= revision.cassette %></td>
            <td><%= revision.backbone %></td>
            <td><%= revision.homology_arm_start%> -> <%= revision.homology_arm_end %></td>
            <td><%= revision.cassette_start%> -> <%= revision.cassette_end %></td>
            <td><%= revision.loxp_start%> -> <%= revision.loxp_end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end -%>
