<table class="es_cell_qc_info">
  <caption>Production Centre Screen <em>- please only enter if you are a production centre</em></caption>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :production_qc_five_prime_screen } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :production_qc_loxp_screen } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :production_qc_three_prime_screen } %>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :production_qc_loss_of_allele } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :production_qc_vector_integrity } %>
    <td colspan="2"></td>
  </tr>
</table>

<table class="es_cell_qc_info">
  <caption>Distribution Centre QC <em>- please only enter if you are a distribution centre</em></caption>
  <tr>
    <%= render :partial => 'alleles/show_es_cells_qc_title', :locals => { :name => "Karyotype (Low)", :symbol => :distribution_qc_karyotype_low } %>
    <td><%= f.text_field :distribution_qc_karyotype_low %></td>
    <%= render :partial => 'alleles/show_es_cells_qc_title', :locals => { :name => "Karyotype (High)", :symbol => :distribution_qc_karyotype_high } %>
    <td><%= f.text_field :distribution_qc_karyotype_high %></td>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :distribution_qc_copy_number } %>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :distribution_qc_five_prime_lr_pcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :distribution_qc_three_prime_lr_pcr } %>
    <td colspan="2"></td>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :distribution_qc_five_prime_sr_pcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :distribution_qc_three_prime_sr_pcr } %>
    <td colspan="2"></td>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :distribution_qc_thawing } %>
    <td colspan="4"></td>
  </tr>
</table>

<table class="es_cell_qc_info">
  <caption>User/Mouse Clinic QC</caption>
  <tr>
    <td colspan="6">
      <em>
        <strong>NOTE:</strong> if you have data contrary to these values, please use the conflict 
        mechanism (below) to record and discuss this data conflict before changing any of these existing values.
      </em>
    </td>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_southern_blot } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_map_test } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_karyotype } %>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_tv_backbone_assay } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_five_prime_lr_pcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_loss_of_wt_allele } %>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_neo_count_qpcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_lacz_sr_pcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_five_prime_cassette_integrity } %>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_neo_sr_pcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_mutant_specific_sr_pcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_loxp_confirmation } %>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :symbol => :user_qc_three_prime_lr_pcr } %>
    <td colspan="4"></td>
  </tr>
  <tr>
    <th colspan="6" style="text-align:left;">Comments</th>
  </tr>
  <tr>
    <td colspan="6">
      <%= f.text_area( :user_qc_comment, :rows => 5, :style => "height:auto;width:90%" ) %>
    </td>
  </tr>
  <tr>
    <th colspan="6" style="text-align:left;">User/Mouse Clinic QC Data Conflicts</th>
  </tr>
  <tr>
    <td colspan="6">
      <table class="list esc_qc_conflicts">
        <thead>
          <tr>
            <th style="text-align:left;">User</th>
            <th style="text-align:left;">QC Test</th>
            <th style="text-align:left;">Proposed Result</th>
            <th style="text-align:left;">Comments</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% f.fields_for :es_cell_qc_conflicts do |conflict_form| %>
            <%= render :partial => 'alleles/es_cell_qc_conflict_form', :locals => { :f => conflict_form } %>
          <% end %>
        </tbody>
      </table>
      <p><%= add_es_cell_qc_conflict_link(f) %></p>
    </td>
  </tr>
</table>