<table class="es_cell_qc_info">
  <caption>Production Centre Screen</caption>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "5' Screen", :symbol => :production_qc_five_prime_screen } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "LoxP Screen", :symbol => :production_qc_loxp_screen } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "3' Screen", :symbol => :production_qc_three_prime_screen } %>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "Loss of WT Allele (LOA)", :symbol => :production_qc_loss_of_allele } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "Vector Integrity", :symbol => :production_qc_vector_integrity } %>
    <td colspan="2"></td>
  </tr>
</table>

<table class="es_cell_qc_info">
  <caption>Distribution Centre QC</caption>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_th', :locals => { :name => "Karyotype (Low)", :symbol => :distribution_qc_karyotype_low } %>
    <td><%= f.text_field :distribution_qc_karyotype_low %></td>
    <%= render :partial => 'alleles/es_cell_qc_th', :locals => { :name => "Karyotype (High)", :symbol => :distribution_qc_karyotype_high } %>
    <td><%= f.text_field :distribution_qc_karyotype_high %></td>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "Copy Number", :symbol => :distribution_qc_copy_number } %>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "5' SR-PCR", :symbol => :distribution_qc_five_prime_sr_pcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "3' SR-PCR", :symbol => :distribution_qc_three_prime_sr_pcr } %>
    <td colspan="2"></td>
  </tr>
</table>

<table class="es_cell_qc_info">
  <caption>User/Mouse Clinic QC</caption>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "Southern Blot", :symbol => :user_qc_southern_blot } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "Map Test", :symbol => :user_qc_map_test } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "Karyotype", :symbol => :user_qc_karyotype } %>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "TV Backbone Assay", :symbol => :user_qc_tv_backbone_assay } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "5' LR-PCR", :symbol => :user_qc_five_prime_lr_pcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "Loss of WT Allele (LOA)", :symbol => :user_qc_loss_of_wt_allele } %>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "Neo Count (qPCR)", :symbol => :user_qc_neo_count_qpcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "lacZ SR-PCR", :symbol => :user_qc_lacz_sr_pcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "5' Cassette Integrity", :symbol => :user_qc_five_prime_cassette_integrity } %>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "Neo SR-PCR", :symbol => :user_qc_neo_sr_pcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "Mutant Specific SR-PCR", :symbol => :user_qc_mutant_specific_sr_pcr } %>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "LoxP Confirmation", :symbol => :user_qc_loxp_confirmation } %>
  </tr>
  <tr>
    <%= render :partial => 'alleles/es_cell_qc_form_select', :locals => { :f => f, :name => "3' LR-PCR", :symbol => :user_qc_three_prime_lr_pcr } %>
    <td colspan="4"></td>
  </tr>
  <tr>
    <th colspan="6" style="text-align:left;">Comments</th>
  </tr>
  <tr>
    <td colspan="6">
      <%=
        f.text_area(
          :user_qc_comment,
          :rows => 5, 
          :style => "height:auto;width:90%"
        )
      %>
    </td>
  </tr>
</table>