<% pipeline_list = Pipeline.find(:all, :order => "name").collect {|p| [ p.name, p.id ] } %>

<% unless f.error_messages.empty? %>
  <div class="error">
    <%= f.error_messages %>
  </div>
<% end %>

<div class="span-24 last">
  <p>
    <%= f.label :pipeline_id, "Pipeline" %>
    <%= f.select :pipeline_id, pipeline_list %>
  </p>
</div>

<div class="span-12">
  <p>
    <%= f.label :mgi_accession_id, "MGI Accession ID" %><br />
    <%= f.text_field :mgi_accession_id, :class => :title %>
  </p>
</div>

<div class="span-12 last">
  <p>
    <%= f.label :project_design_id, "Project Design ID" %><br />
    <%= f.text_field :project_design_id, :class => :title %>
  </p>
</div>

<div class="span-12">
  <fieldset>
    <legend>Genomic Position</legend>
    <p>
      <%= f.label :chromosome %><br />
      <% chromosomes = ("1".."19").to_a.push('X').push('Y').push('MT') %>
      <%= select( :allele, :chromosome, chromosomes ) %> 
    </p>
    <p>
      <%= f.label :strand %><br />
      <%= select( :allele, :strand, ["+","-"] ) %>
    </p>
    <p>
      <%= f.label :assembly, "Assembly" %><br />
      <%= f.text_field :assembly, :class => :text %>
    </p>
  </fieldset>
  
  <fieldset>
    <legend>Design Details</legend>
    <p>
      <%= f.label :design_type, "Design Type" %><br />
      <%= select( :allele, :design_type, ['Knock Out', 'Deletion'] ) %> 
    </p>
    <p>
      <%= f.label :design_subtype, "Design Subtype" %><br />
      <%= f.text_field :design_subtype, :class => :text %>
    </p>
    <p>
      <%= f.label :subtype_description, "Subtype Description" %><br />
      <%= f.text_field :subtype_description, :class => :text %>
    </p>
    <p>
      <%= f.label :cassette %><br />
      <%= f.text_field :cassette, :class => :text %>
    </p>
    <p>
      <%= f.label :backbone %><br />
      <%= f.text_field :backbone, :class => :text %>
    </p>
    <p>
      <%= f.label :floxed_start_exon, "First Floxed Exon" %><br />
      <%= f.text_field :floxed_start_exon, :class => :text %>
    </p>
    <p>
      <%= f.label :floxed_end_exon, "Last Floxed Exon" %><br />
      <%= f.text_field :floxed_end_exon, :class => :text %>
    </p>
    <p>
      <%= f.label :mgi_allele_id, "MGI Allele ID" %><br />
      <%= f.text_field :mgi_allele_id, :class => :text %>
    </p>
  </fieldset>
</div>

<div class="span-12 last">
  <fieldset>
    <legend>Molecular Co-Ordinates</legend>
    <p>
      <%= f.label :homology_arm_start, "Homology Arm Start" %><br />
      <%= f.text_field :homology_arm_start, :class => :text %>
    </p>
    <p>
      <%= f.label :homology_arm_end, "Homology Arm End" %><br />
      <%= f.text_field :homology_arm_end, :class => :text %>
    </p>
    <p>
      <%= f.label :cassette_start, "Cassette Start" %><br />
      <%= f.text_field :cassette_start, :class => :text %>
    </p>
    <p>
      <%= f.label :cassette_end, "Cassette End" %><br />
      <%= f.text_field :cassette_end, :class => :text %>
    </p>
    <p>
      <%= f.label :loxp_start, "LoxP Start" %><br />
      <%= f.text_field :loxp_start, :class => :text %>
    </p>
    <p>
      <%= f.label :loxp_end, "LoxP End" %><br />
      <%= f.text_field :loxp_end, :class => :text %>
    </p>
  </fieldset>
</div>


<!-- Genbank files handling. -->

<% f.fields_for :genbank_file do |genbank_form| -%>
  <%= genbank_form.hidden_field :nested %>
  <div class="span-12">
    <label>Targeting Vectors Genbank File</label>
    <%= genbank_form.text_area :targeting_vector, :class => :text %>
  </div>

  <div class="span-12 last">
    <label>ES Cell Clones Genbank File</label>
    <%= genbank_form.text_area :escell_clone, :class => :text %>
  </div>
<% end -%>


<!-- Targeting vectors handling. -->

<div class="span-24 last">
  <h3>Targeting Vectors</h3>
  <table class="list">
    <thead>
      <tr>
        <th>IKMC Project ID</th>
        <th>Targeting Vector</th>
        <th>Intermediate Vector</th>
        <th class="last"></th>
      </tr>
    </thead>
    <tbody id="targeting_vectors">
      <% f.fields_for :targeting_vectors do |targ_vec_form| %>
        <%= render :partial => 'targ_vec_form', :locals => { :f => targ_vec_form } %>
      <% end -%>
    </tbody>
  </table>
  <p><%= add_targ_vec_link(f) %></p>
</div>


<!-- ES Cells handling. -->

<div class="span-24 last">
  <h3>ES Cells</h3>
  <table class="list">
    <thead>
      <tr>
        <th>ES Cell</th>
        <th>Targeting Vector</th>
        <th>Allele Symbol Superscript</th>
        <th>Parental Cell Line</th>
        <th>IKMC Project ID</th>
        <th></th>
        <th class="last"></th>
      </tr>
    </thead>
    <tbody id="es_cells">
      <% f.fields_for :es_cells do |es_cell_form| %>
        <%= render :partial => 'es_cell_form', :locals => { :f => es_cell_form }%>
      <% end -%>
    </tbody>
  </table>
  <p><%= add_es_cell_link(f) %></p>
</div>
