<% javascript 'dynamic_esc_qc_conflict_selects' %>

<div class="grid_12">
  <h2><%=h @allele.mgi_accession_id %> | Project Design ID: <%=h @allele.project_design_id %></h2>
</div>

<% form_for @allele do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :allele => @allele } %>
  
  <div class="grid_12">
    <button type="submit" class="button positive">
      <%= image_tag "led-icons/accept.png", :alt => "" %> Update
    </button> 
    <a href="<%= allele_path(@allele) %>" class="button negative">
      <%= image_tag "led-icons/cross.png", :alt => "" %> Back
    </a>
  </div>
<% end %>