<h2>
  <%= @allele.mgi_accession_id %> | Project Design ID: <%= @allele.project_design_id %>
</h2>

<div class="span-12">
  <fieldset>
    <legend>Genomic Position</legend>
    <p><strong>Assembly:</strong> <%= @allele.assembly %></p>
    <p><strong>Chromosome:</strong> <%= @allele.chromosome %></p>
    <p><strong>Strand</strong> <%= @allele.strand %></p>
  </fieldset>
  
  <fieldset>
    <legend>Mutation Details</legend>
    <p><strong>Design type:</strong> <%= @allele.design_type %></p>
    <p>
      <strong>Design subtype:</strong> <%= @allele.design_subtype %><br />
      <em><%= @allele.subtype_description %></em>
    </p>
    <p><strong>Cassette:</strong> <%= @allele.cassette %></p>
    <p><strong>Cassette Type:</strong> <%= @allele.cassette_type %></p>
    <p><strong>Backbone:</strong> <%= @allele.backbone %></p>
    <% if @allele.floxed_start_exon == @allele.floxed_end_exon %>
      <p><strong>Floxed Exon:</strong> <%= @allele.floxed_start_exon %></p>
    <% else %>
      <p><strong>First Floxed Exon:</strong> <%= @allele.floxed_start_exon %></p>
      <p><strong>Last Floxed Exon:</strong> <%= @allele.floxed_end_exon %></p>
    <% end %>
  </fieldset>
</div>

<div class="span-12 last">
  <fieldset>
    <legend>Molecular Co-Ordinates</legend>
    <table class="list">
      <thead>
        <th>Feature</th>
        <th>Start</th>
        <th class="last">End</th>
      </thead>
      <tbody>
        <tr>
          <td>Homology Arm</td>
          <td><%= @allele.homology_arm_start %></td>
          <td><%= @allele.homology_arm_end %></td>
        </tr>
        <tr class="even">
          <td>Cassette</td>
          <td><%= @allele.cassette_start %></td>
          <td><%= @allele.cassette_end %></td>
        </tr>
        <tr>
          <td>LoxP</td>
          <td><%= @allele.loxp_start %></td>
          <td><%= @allele.loxp_end %></td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  
  <fieldset id="genbank_files">
    <legend>Genbank Files / Images</legend>
    <% genbank_file = @allele.genbank_file %>
    <p>
      <strong>Targeting Vector Genbank File: </strong>
      <% unless genbank_file.nil? or genbank_file.targeting_vector.nil? %>
        <a href="<%= targeting_vector_genbank_file_url(:id => @allele.id) %>" target="_blank" class="ss_sprite ss_magnifier">view</a>
        <a href="<%= vector_image_url(:id => @allele.id) %>" target="_blank" class="ss_sprite ss_image">vector image</a>
      <% else %>
        <em>not available</em>
      <% end %>
    </p>
    <p>
      <strong>ES Cell Clone / Allele Genbank File: </strong>
      <% unless genbank_file.nil? or genbank_file.escell_clone.nil? %>
        <a href="<%= escell_clone_genbank_file_url(:id => @allele.id) %>" target="_blank" class="ss_sprite ss_magnifier">view</a> | 
        <a href="<%= allele_image_url(:id => @allele.id) %>" target="_blank" class="ss_sprite ss_image">allele image</a>
      <% else %>
        <em>not available</em>
      <% end %>
    </p>
  </fieldset>
</div>

<div class="span-24 last">
  <fieldset>
    <legend>Targeting Vectors</legend>
    
    <% unless @allele.targeting_vectors.empty? %>
      <table class="list">
        <thead>
          <th>Pipeline</th>
          <th>IKMC Project ID</th>
          <th>Targeting Vector</th>
          <th class="last">Intermediate Vector</th>
        </thead>
        <tbody>
          <% @allele.targeting_vectors.each do |targ_vec| %>
            <% if targ_vec.display == true %>
              <tr class="<%= cycle("odd", "even") %>">
                <td><%= targ_vec.pipeline.try(:name) %></td>
                <td><%= targ_vec.ikmc_project_id %></td>
                <td><%= targ_vec.name %></td>
                <td><%= targ_vec.intermediate_vector %></td>
              </tr>
            <% end %>
          <% end -%>
        </tbody>
      </table>
    <% else %>
      <p>No targeting vectors</p>
    <% end -%>
  </fieldset>
</div>

<div class="span-24 last">
  <fieldset>
    <legend>ES Cells</legend>
    
    <% unless @es_cells.empty? %>
      <table class="list">
        <thead>
          <tr>
            <th>Pipeline</th>
            <th>ES Cell</th>
            <th>Targeting Vector</th>
            <th>MGI Allele ID</th>
            <th>Allele Symbol Superscript</th>
            <th>Parental Cell Line</th>
            <th>IKMC Project ID</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @es_cells.each do |es_cell| %>
            <tr class="<%= cycle("odd", "even") %>">
              <td><%= es_cell.pipeline.try(:name) %></td>
              <td><%= es_cell.name %></td>
              <td><%= es_cell.targeting_vector.try(:name) %></td>
              <td><%= es_cell.mgi_allele_id %></td>
              <td><%= es_cell.allele_symbol_superscript %></td>
              <td><%= es_cell.parental_cell_line %></td>
              <td><%= es_cell.ikmc_project_id %></td>
              <td><a href="#" class="es_cell_qc_toggle ss_sprite ss_magnifier">show/hide QC metrics</a></td>
            </tr>
            <tr class="es_cell_qc" style="display:none;">
              <td colspan="8">
                <table class="es_cell_qc_info">
                  <caption>Production Centre Screen</caption>
                  <tr>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :production_qc_five_prime_screen } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :production_qc_loxp_screen } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :production_qc_three_prime_screen } %>
                  </tr>
                  <tr>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :production_qc_loss_of_allele } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :production_qc_vector_integrity } %>
                    <td colspan="2"></td>
                  </tr>
                </table>
                
                <table class="es_cell_qc_info">
                  <caption>Distribution Centre QC</caption>
                  <tr>
                    <%= render :partial => 'alleles/es_cell_qc_th', :locals => { :name => "Karyotype", :symbol => :distribution_qc_karyotype } %>
                    <td>
                      <% if ![nil,""].include?(es_cell.distribution_qc_karyotype_low) and ![nil,""].include?(es_cell.distribution_qc_karyotype_high) %>
                        <%= es_cell.distribution_qc_karyotype_low %> - <%= es_cell.distribution_qc_karyotype_high %>
                      <% else %>
                        -
                      <% end %>
                    </td>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :distribution_qc_copy_number } %>
                    <td width="24%"></td>
                    <td></td>
                  </tr>
                  <tr>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :distribution_qc_five_prime_lr_pcr } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :distribution_qc_three_prime_lr_pcr } %>
                    <td colspan="2"></td>
                  </tr>
                  <tr>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :distribution_qc_five_prime_sr_pcr } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :distribution_qc_three_prime_sr_pcr } %>
                    <td colspan="2"></td>
                  </tr>
                  <tr>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :distribution_qc_thawing } %>
                    <td colspan="4"></td>
                  </tr>
                </table>
                
                <table class="es_cell_qc_info">
                  <caption>User/Mouse Clinic QC</caption>
                  <tr>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_southern_blot } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_map_test } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_karyotype } %>
                  </tr>
                  <tr>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_tv_backbone_assay } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_five_prime_lr_pcr } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_loss_of_wt_allele } %>
                  </tr>
                  <tr>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_neo_count_qpcr } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_lacz_sr_pcr } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_five_prime_cassette_integrity } %>
                  </tr>
                  <tr>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_neo_sr_pcr } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_mutant_specific_sr_pcr } %>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_loxp_confirmation } %>
                  </tr>
                  <tr>
                    <%= render :partial => 'alleles/es_cell_qc_show', :locals => { :es_cell => es_cell, :symbol => :user_qc_three_prime_lr_pcr } %>
                    <td colspan="4"></td>
                  </tr>
                  <tr>
                    <th colspan="6" style="text-align:left;">Comments</th>
                  </tr>
                  <tr>
                    <td colspan="6"><%= print_dash_on_empty( es_cell.user_qc_comment ) %></td>
                  </tr>
                  <% if es_cell.es_cell_qc_conflicts.count > 0 %>
                    <tr>
                      <th colspan="6" style="text-align:left;">User/Mouse Clinic QC Data Conflicts</th>
                    </tr>
                    <tr>
                      <td colspan="6">
                        <table class="list esc_qc_conflicts">
                          <thead>
                            <tr>
                              <th style="text-align:left;">User</th>
                              <th style="text-align:left;">QC Test</th>
                              <th style="text-align:left;">Proposed Result</th>
                              <th style="text-align:left;">Comments</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% es_cell.es_cell_qc_conflicts.each do |conflict| %>
                              <tr class="<%= cycle("odd", "even") %>">
                                <td>
                                  <% unless conflict.creator.nil? %>
                                    <%= conflict.creator.username %>
                                  <% end %>
                                </td>
                                <td><%= ESCELL_QC_OPTIONS[conflict.qc_field][:name] %></td>
                                <td><%= conflict.proposed_result %></td>
                                <td><%= conflict.comment %></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No ES Cells</p>
    <% end -%>
  </fieldset>
</div>

<% if @current_user %>
<div class="span-24">
  <a href="<%= edit_allele_path(@allele) %>" class="button">
    <%= image_tag "famfamfam/pencil.png", :alt => "" %> Edit
  </a>
  <a href="<%= url_for(alleles_path) %>" class="button negative">
    <%= image_tag "led-icons/cross.png", :alt => "" %> Back
  </a>
</div>
<% end %>
