<h1>Editing targeting_vector</h1>

<% form_for(@targeting_vector) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parental_cell_line %><br />
    <%= f.text_field :parental_cell_line %>
  </p>
  <p>
    <%= f.label :created_by %><br />
    <%= f.text_field :created_by %>
  </p>
  <p>
    <%= f.label :updated_by %><br />
    <%= f.text_field :updated_by %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @targeting_vector %> |
<%= link_to 'Back', targeting_vectors_path %>