<div class="span-24">
  <table>
    <thead>
      <tr>
        <th>Pipeline</th>
        <th>IKMC Project ID</th>
        <th>Targeting Vector</th>
        <th class="last">Intermediate Vector</th>
      </tr>
    </thead>
    <tbody>
      <% @targeting_vectors.each do |targ_vec| %>
        <tr class="<%= cycle("even", "odd") %>">
          <td><%= targ_vec.pipeline.name %></td>
          <td><%= targ_vec.ikmc_project_id %></td>
          <td><%= targ_vec.name %></td>
          <td><%= targ_vec.intermediate_vector %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript" charset="utf-8">
  Event.observe(window, 'load', function() { $('advanced-search').hide() })
</script>