<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>I-DCC Targeting Repository - <%= controller.controller_name.titlecase %>: <%= controller.action_name %></title>
  <%= javascript_include_tag :all, :cache => true %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen,projection' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => :print %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie', :media => 'screen,projection' %>
  <![endif]-->
  <%= stylesheet_link_tag 'style' %>
</head>

<body>

  <div class="container">
      <div id="header" class="span-17">
        <h1><%= link_to "I-DCC Targeting Repository", root_path %></h1>
      </div>
      <div id="userbox" class="prepend-1 span-6 last">
        <div id="userbox-inner" class="box">
          <% if @current_user %>
            <%= link_to "profile (#{@current_user.username})", users_path, :class => "ss_sprite ss_user" %> | 
            <%= link_to "logout", logout_path, :method => :delete, :class => "ss_sprite ss_door_open" %>
          <% else %>
            <%= link_to "login", login_path, :class => "ss_sprite ss_key" %>
          <% end %>
        </div>
      </div>
      
      <div id="navigation" class="span-24">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Alleles", molecular_structures_path %></li>
          <% if @current_user and @current_user.is_admin %>
            <li><%= link_to "Users", users_path %></li>
          <% end -%>
        </ul>
      </div>
      
      <div id="content" class="span-24">
        <% [:error, :notice, :success].each do |status| %>
          <% if flash[status] %>
            <div class="<%= status %>"><%= flash[status] %></div>
          <% end %>
        <% end %>
        <% if ENV['RAILS_ENV'] === 'development' %>
          <div class="notice">
            <strong>PLEASE NOTE:</strong> This site is currently in <em>'development/testing'</em> mode.  This means that:
            <ul>
              <li>Performance will be reduced (as any form of caching is turned off)</li>
              <li>The data in the database is <strong>INCORRECT</strong> - please do not trust the data in this instance (it is our development playground)</li>
            </ul>
          </div>
        <% end %>
        <%= yield %>
      </div>
      
      <div class="clear"></div>
      
      <div id="footer">
        <div class="span-6">
          <a href="http://www.i-dcc.org">
            <%= image_tag 'idcc-logo.png', :alt => "The International Data Coordination Centre" %>
          </a>
        </div>
        <div class="span-18 last" style="text-align:right;">
          Developed by the <a href="http://www.sanger.ac.uk">Wellcome Trust Sanger Institute</a><br />
          Wellcome Trust Genome Campus, Hinxton, Cambridge, CB10 1SA, UK  Tel:+44 (0)1223 834244<br />
          Registered charity number 210183
        </div>
      </div>
      
      <div class="clear"></div>
  </div>

</body>
</html>
